RewriteEngine On
RewriteCond %{HTTP_HOST} ^dallany\.ca$
RewriteRule ^(.*)$ http://www.dallany.ca/$1 [R=301,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule . /fw/v02/index.php [L]