<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>Index page</title>
</head>

<body>
	<div id="header"><img src="images/logo_index.gif" width="1020" height="104" /></div>
    <div id="boxMenu">
    	<ul id="topMenu">
            <li class="Active"><a href="#" title="Trang chủ">Trang chủ</a></li>
            <li><a href="#" title="Thần tượng">Thần tượng</a></li>
            <li><a href="#" title="Soi sao">Soi sao</a></li>
            <li><a href="#" title="Âm nhạc">Âm nhạc</a></li>
            <li><a href="#" title="Điện ảnh">Điện ảnh</a></li>
            <li><a href="#" title="Phong cách">Phong cách</a></li>
            <li><a href="#" title="Thể thao">Thể thao</a></li>
            <li><a href="#" title="Giải trí">Giải trí</a></li>
            <li class="End"><a href="#" title="Media">Media</a></li>
   		</ul>
    </div>
<div id="container">
    <div id="topBanner"><a href="#" title="title"><img src="images/topbanner.gif" width="1020" height="110" /></a></div>
        <div id="col-1">
        	<ul id="bottomMenu">
                <li class="Active"><a href="#" title="V-Star">V-Star</a></li>
                <li><a href="#" title="Chinese Star">Chinese Star</a></li>
                <li><a href="#" title="Japanses Star">Japanses Star</a></li>
                <li><a href="#" title="World Star">World Star</a></li>    
            </ul>
            <div id="boxNewsTop">
            	<div class="Left">
            		<a href="#" title="Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp" class="Title">Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp</a>
                	<a href="#" title="Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp"><img src="images/newslarge.jpg" width="392" height="267" /></a>
                </div>
                <div class="Right">
                	<p>
                		<a href="#" title="Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp"><img src="images/newsmall.jpg" width="176" height="108" /></a>
                        <a href="#" title="Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp" class="Title">Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp</a>
                    </p>
                    <p>
                		<a href="#" title="Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp"><img src="images/newsmall.jpg" width="176" height="108" /></a>
                        <a href="#" title="Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp" class="Title">Lộ loạt clip tình tứ của Joe Jonas và “bạn gái” người Pháp</a>
                    </p>
                </div>
            </div>
            <div class="Wrapper">
            	<div class="BoxLeft">
            		<ul id="newNewsList">
                	<li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>  
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>  
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                    <li>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày"><img src="images/newnews-img.jpg" width="131" height="97" /></a>
                    	<a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">"Choáng" với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a>
                        Vogue #FNO tonight in NY & a book signing of 'The Covers' with Hamish Bowles & Dodie Kazanjian - 9 East 57th Street
                    </li>
                </ul>
                	<div class="OtherNews">
                    	<h2>Các tin khác:</h2>
                    	<ul id="listOtherNews">
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày</a><span class="Date">(01/01/2012)</span>
                            </li>   
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                            <li>
                                <a href="#" title="Choáng với số tiền khủng để nuôi 1 girlgroup trong 30 ngày">20 bản hit Kpop hóa game Nintendo cực yêu! </a><span class="Date">(01/01/2012)</span>
                            </li>
                		</ul>
                        <form>
                        <p>
                        	Các tin đã đăng ngày: <input type="text" class="inputtext" value="" name="" /> <img src="images/lich-img.gif" /> <input type="submit" value="Xem" />
                        </p>
                        </form>
                    </div>
                </div>
                <div class="BoxRight">
                	<div id="boxTieudiem">
                	<h2><img src="images/tieudiem.gif" width="202" height="42" /></h2>
                    <ul id="tieudiemList2">
                		<li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                        <li>
                    		<img src="images/tieudiem-img.jpg" width="56" />
                    		<a href="#" title="Leeteuk tiết lộ bí mật sốc của Super Junior">Leeteuk tiết lộ bí mật "sốc" của Super Junior</a>
                   		</li>
                    </ul> 
                  <p class="imageAdvSmall"><a href="#" title="adv"><img src="images/smallAdv.gif" width="202" height="315" /></a></p>
                    <p class="imageAdvSmall"><a href="#" title="adv"><img src="images/smallAdv.gif" width="202" height="315" /></a></p>
                    <p class="imageAdvSmall"><a href="#" title="adv"><img src="images/smallAdv.gif" width="202" height="315" /></a></p>
                </div>
                </div>
            </div>
        </div>
        <div id="col-2">
   		  <h2 class="Inside">Quảng cáo</h2>
            <p><img src="images/adv1.jpg" width="321" /></p>
            <p><img src="images/adv2.jpg" width="321" /></p>
            <p><img src="images/adv3.jpg" width="321" /></p>
            <p><img src="images/adv4.gif" width="321" /></p>
            <p><img src="images/adv4.gif" width="321" /></p>
        </div>
</div>

<div id="boxAdvBottom"><a href="#" title="adv"><img src="images/advbottom.gif" width="1020" height="109" /></a></div>
<div id="boxFooter">
	<div id="footer">
    	<div class="Left">
        	<p class="Top">© Thantuong.vn- Tạp chí Online của CÔNG TY GIẢI TRÍ – TRUYỀN THÔNG THẦN TƯỢNG</p>
			<p>
            <strong>GIÁM ĐỐC SÁNG TẠO: NGUYỄN QUÝ KHANG</strong></br>
            <strong>PHỤ TRÁCH NỘI DUNG: MAI TRUNG HẬU</strong></br>
            <strong>THIẾT KẾ MỸ THUẬT: CÔNG TY TNHH MAKI - MAKI STUDIO - <a href="http://www.maki.vn" title="WWW.MAKI.VN">WWW.MAKI.VN</a></strong>
            (PHỤ TRÁCH ĐỒ HỌA: LÊ HUỲNH THÀNH DANH - PHỤ TRÁCH WEBSITE: THÁI HÀ MỸ ÁI - PHỤ TRÁCH HÌNH ẢNH: MARC TRAN)
            </p>
            <p class="Bottom">Mọi ý kiến đóng góp, thắc mắc, phản hồi vui lòng gửi về E-mail: <a href="mailto:bandoc@thantuong.vn">bandoc@thantuong.vn</a></p>
        </div>
        <div class="Right"><a href="#" title="adv"><img src="images/adv_footer.gif" width="250" height="120" /></a></div>
    </div>
</div>
</body>
</html>
