<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>Intro  page</title>
</head>

<body class="Intro">
	<div id="header" class="Intro"><img src="images/logo_intro.gif" width="836" height="54" /></div>
    <div id="boxMenu">
    	<ul id="topMenu" class="Intro">
            <li class="Active"><a href="#" title="Trang chủ">Trang chủ</a></li>
            <li><a href="#" title="Thần tượng">Thần tượng</a></li>
            <li><a href="#" title="Soi sao">Soi sao</a></li>
            <li><a href="#" title="Âm nhạc">Âm nhạc</a></li>
            <li><a href="#" title="Điện ảnh">Điện ảnh</a></li>
            <li><a href="#" title="Phong cách">Phong cách</a></li>
            <li><a href="#" title="Thể thao">Thể thao</a></li>
            <li><a href="#" title="Giải trí">Giải trí</a></li>
            <li class="End"><a href="#" title="Media">Media</a></li>
   		</ul>
    </div>
<div id="container" class="Intro">
   	<div id="boxImageLeft">
    	<a href="#" title="Vào trang chủ"><img src="images/intro_large.jpg" width="416" height="558" /></a>
    </div>
    <div id="boxImageRight">
    	<div><a href="#"><img src="images/intro_small1.jpg" width="420" height="93" /></a><span>Dandy coats and neat pleats conceal the 
dangerous passion that burns </span></div>
		<div><a href="#"><img src="images/intro_small2.jpg" width="420" height="93" /></a><span>Dandy coats and neat pleats conceal the 
dangerous passion that burns </span></div>
		<div><a href="#"><img src="images/intro_small3.jpg" width="420" height="93" /></a><span>Dandy coats and neat pleats conceal the 
dangerous passion that burns </span></div>
		<div><a href="#"><img src="images/intro_small4.jpg" width="420" height="93" /></a><span>Dandy coats and neat pleats conceal the 
dangerous passion that burns </span></div>
		<div><a href="#"><img src="images/intro_small5.jpg" width="420" height="93" /></a><span>Dandy coats and neat pleats conceal the 
dangerous passion that burns </span></div>
		<div><a href="#"><img src="images/intro_small6.jpg" width="420" height="93" /></a><span>Dandy coats and neat pleats conceal the 
dangerous passion that burns </span></div>
  </div>
</div>
</body>
</html>
