<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Vina Save</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/reset.css" rel="stylesheet" type="text/css"  />
<link href="css/common.css" rel="stylesheet" type="text/css"  />
<link href="css/detail.css" rel="stylesheet" type="text/css"  />
<link rel="stylesheet" type="text/css" href="images/slider/skins/tango/skin.css" />

</head>
<body>
<div id="main">
	<div id="header">
		<div class="content">
			<div class="white">afafa fafa</div>
			<h1 title="Vina Save"></h1>
			<div class="info">
				<div class="left white" >
				   
					<a href="#">Hỗ trợ/Hỏi đáp</a> | <a href="#">Hướng dẫn</a> | <a href="#">Sơ đồ website</a> | <a href="#">Liên hệ</a>
					<div class="location black">Tp. HCM <span class="choose_location"></span></div>
					<div class="mail_alert">
						<input placeholder="Đăng ký nhận email" />
						<span></span>
					</div>
				</div>
				<div class="right white">
				

					Hotline: <span class="yellow bold">0909 0909</span><br />
					Hỗ trợ trực tuyến <img src="images/ym.png" /> <img src="images/ym.png" /><br />
					<a href="#">Đăng ký</a> |  <a href="#">Đăng nhập</a>
				</div>
			</div>
			<a class="right_logo"></a>
			<div class="navigation white">
				<ul>
					<li class="home"><a href="#"></a></li>
					<li class="on"><a href="#">Gioi thieu</a><span></span></li>
					<li><a href="#">Tin tuc</a><span></span></li>
					<li><a href="#">Dia diem giam gia uu dai</a><span></span></li>
					<li><a href="#">So huu the giam gia uu dai</a><span></span></li>
					<li class="last"><a href="#">Doanh nghiep quang cao</a><span></span></li>
				</ul>
			</div>
		</div>
		
	</div>
	<div id="body">
		<div class="content">
			<div class="banner">
				
				<div id="amazingslider-7" style="display:block;position:relative;height:220px;margin-top:0px;overflow:hidden;">
			        <div class="slide_loading">Loading..</div>
			        <ul class="amazingslider-slides" style="display:none;">
			            <li><img src="tulip_and_sky_960_300.jpg" width="870" height="220" alt="Tulip and Sky" />            </li>
			            <li><img src="swan_960_300.jpg" width="870" height="220" alt="Swan" />            </li>
			            <li><img src="forest_960_300.jpg" width="870" height="220" alt="Forest" />            </li>
			        </ul>
			        
			        
			    </div>
				<div class="right_menu bold">
					<div class="credit">
						<span class="icon"></span>
						MUA THE NGAY
					</div>
					<div class="activate">
						<span class="icon"></span>
						KICH HOAT THE
					</div>
					<div class="store">
						<span class="icon"></span>
						DANG KY GIAN HANG GIAM GIA UU DAI
					</div>
					<div class="user_guide">
						<span class="icon"></span>
						HUONG DAN
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			
			<div class="box_search">
				<form name="search">
					<div class="search"><input placeholder="Nap noi dung tim kiem"></input><span></span></div>
					<div class="search_by"><input placeholder="Tim kiem theo" ></input><span></span></div>
					<div class="document">Danh ba dia diem GGUD: <span class="view">Xem</span> <span class="download">Tai</span></div>
				</form>
				
			</div>
			<div class="menu white">
				<div class="left_point"></div>
				<ul>
					<li class="on first"><a href="#">Dia diem giam gia uu dai</a></li>
					<li class=""><a href="#">Hot deal</a></li>
					<li class=" last"><a href="#">Giang hang san pham</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="submenu">
				<ul class="black">
					<li class="first">&nbsp;</li>
					<li class="on"><a href="#">HOT</a></li>
					<li><a href="#">Noi tieng</a></li>
					<li><a href="#">Moi nhat</a></li>
					<li><a href="#">Sap het han</a></li>
				</ul>
				adfasdf daf   aaf
			</div>
			<div id="ct">
				<div class="breadcrumb black"><a href="#">Home</a> &gt; <a href="#">Da da da </a> &gt; HOT</div>
				
				<!-- Top Product  & Category -->
				<div id="right">
					<div class="register_store bold">
						<div class="store_bg"></div>
						<div class="store_content">
						Đăng Ký Gian Hàng<br />
						Giảm Giá Ưu Đãi<br />
						<a class="reg  white" href="#">click here</a>
						</div>
					</div>
					<div class="box_category black">
						<ul>
							<li class="on"><a  href="#"><img src="images/cat_food.png"></img>Ăn Uống</a></li>
							<li><a  href="#"><img src="images/cat_relax.png" align="left"></img>Giải Trí</a></li>
							<li><a  href="#"><img src="images/cat_bus.png"></img>Dịch Vụ</a></li>
							<li><a  href="#"><img src="images/cat_spa.png"></img>Spa - Làm Đẹp</a></li>
							<li><a  href="#"><img src="images/cat_travel.png"></img>Du Lịch - Khách Sạn</a></li>
							<li><a  href="#"><img src="images/cat_sport.png"></img>Thể Dục - Sức Khỏe</a></li>
							<li><a  href="#"><img src="images/cat_shop.png"></img>Điện Tử - Tiêu Dùng</a></li>
							<li><a  href="#"><img src="images/cat_fashion.png"></img>Thời Trang - Trang Sức</a></li>
						</ul>
						
					</div>
					
					
					<div class="clearfix"></div>
					<div class="banners" >
						<img src="images/detail/images/client_banners.jpg" width="340" />
						<img src="images/detail/images/client_banners.jpg" width="340" />
					</div>
					<div class="product_relative white">ĐỊA ĐIỂM GIẢM GIÁ ƯU ĐÃI TƯƠNG TỰ</div>
					
					<div class="box_product">
						<img src="images/product_1.jpg"  width="330" />
						<div class="desc_hover">
							<div class="desc_hover_info white"><span class="yellow">2343</span> luot xem</div>
							<div class="desc_hover_content white">Khách sạn Hà Nội Horison là một thành viên trong hệ thống Swiss-Belhotel quốc tế. Nằm ở khu đầu mối và đang mở rộng của Hà Nội.</div>
						</div>
						<div class="desc">
							<a class="start" href="#"></a>
							<span class="name bold">IL Pino cafe</span>
							<span class="address">4 nguyen dinh chieu,F4,Q10,HCM</span>
							Con <span class="blue">100</span> ngay <span class="blue">17:35:20</span>
							<div class="bookmark">
								<span class="like">200</span>
								<span class="unlike">30</span>
								<span class="email"></span>
								<span class="warn"></span>
							</div>
						</div>
						<div class="grippon white">-15%</div>
					</div>
					
					<div class="box_product">
						<img src="images/product_1.jpg"  width="330" />
						<div class="desc_hover">
							<div class="desc_hover_info white"><span class="yellow">2343</span> luot xem</div>
							<div class="desc_hover_content white">Khách sạn Hà Nội Horison là một thành viên trong hệ thống Swiss-Belhotel quốc tế. Nằm ở khu đầu mối và đang mở rộng của Hà Nội.</div>
						</div>
						<div class="desc">
							<a class="start" href="#"></a>
							<span class="name bold">IL Pino cafe</span>
							<span class="address">4 nguyen dinh chieu,F4,Q10,HCM</span>
							Con <span class="blue">100</span> ngay <span class="blue">17:35:20</span>
							<div class="bookmark">
								<span class="like">200</span>
								<span class="unlike">30</span>
								<span class="email"></span>
								<span class="warn"></span>
							</div>
						</div>
						<div class="grippon white">-15%</div>
					</div>
					
					<div class="box_product">
						<img src="images/product_1.jpg"  width="330" />
						<div class="desc_hover">
							<div class="desc_hover_info white"><span class="yellow">2343</span> luot xem</div>
							<div class="desc_hover_content white">Khách sạn Hà Nội Horison là một thành viên trong hệ thống Swiss-Belhotel quốc tế. Nằm ở khu đầu mối và đang mở rộng của Hà Nội.</div>
						</div>
						<div class="desc">
							<a class="start" href="#"></a>
							<span class="name bold">IL Pino cafe</span>
							<span class="address">4 nguyen dinh chieu,F4,Q10,HCM</span>
							Con <span class="blue">100</span> ngay <span class="blue">17:35:20</span>
							<div class="bookmark">
								<span class="like">200</span>
								<span class="unlike">30</span>
								<span class="email"></span>
								<span class="warn"></span>
							</div>
						</div>
						<div class="grippon white">-15%</div>
					</div>
					
					
					<div class="clearfix"></div>
					<div class="product_relative white">ĐỪNG BỎ LỠ</div>
					<div class="box_product">
						<img src="images/product_1.jpg"  width="330" />
						<div class="desc_hover">
							<div class="desc_hover_info white"><span class="yellow">2343</span> luot xem</div>
							<div class="desc_hover_content white">Khách sạn Hà Nội Horison là một thành viên trong hệ thống Swiss-Belhotel quốc tế. Nằm ở khu đầu mối và đang mở rộng của Hà Nội.</div>
						</div>
						<div class="desc">
							<a class="start" href="#"></a>
							<span class="name bold">IL Pino cafe</span>
							<span class="address">4 nguyen dinh chieu,F4,Q10,HCM</span>
							Con <span class="blue">100</span> ngay <span class="blue">17:35:20</span>
							<div class="bookmark">
								<span class="like">200</span>
								<span class="unlike">30</span>
								<span class="email"></span>
								<span class="warn"></span>
							</div>
						</div>
						<div class="grippon white">-15%</div>
					</div>
					
					<div class="box_product">
						<img src="images/product_1.jpg"  width="330" />
						<div class="desc_hover">
							<div class="desc_hover_info white"><span class="yellow">2343</span> luot xem</div>
							<div class="desc_hover_content white">Khách sạn Hà Nội Horison là một thành viên trong hệ thống Swiss-Belhotel quốc tế. Nằm ở khu đầu mối và đang mở rộng của Hà Nội.</div>
						</div>
						<div class="desc">
							<a class="start" href="#"></a>
							<span class="name bold">IL Pino cafe</span>
							<span class="address">4 nguyen dinh chieu,F4,Q10,HCM</span>
							Con <span class="blue">100</span> ngay <span class="blue">17:35:20</span>
							<div class="bookmark">
								<span class="like">200</span>
								<span class="unlike">30</span>
								<span class="email"></span>
								<span class="warn"></span>
							</div>
						</div>
						<div class="grippon white">-15%</div>
					</div>
					 
					
					<div class="clearfix"></div>
					<div class="right_bottom_banners">
						<img src="images/detail/images/banners.jpg" />
					</div>
				</div>
				<div id="left">
					<div class="hot_message">Hãy <span class="red bold">MUA THẺ NGAY</span> để được giảm giá đến 80% trên mỗi hóa đơn thanh toán khi Bạn mua sắm ở bất kỳ nơi nào nằm trong hệ thống <a href="#" class="blue">Địa Điểm giảm giá ưu đãi</a> của chúng tôi. Xem <a href="#" class="blue">hướng dẫn chi tiết</a>.</div>
					<h3 class="marginleft15 name">Apricot Resort (Bàu Mai Resort)</h3>
					<div class="marginleft15 description">Bàu Mai Resort sở hữu một bên là bãi biển Hàm Tân trải dài một bên là khu rừng mai cổ nguyên sinh được bao bọc bởi rừng mai và đồi cát. </div>
				
					<div class="col1 product_info">
						<div class="discount white">GIAM <span class="yellow">40%</span></div>
						<div class="time">Còn <span class="red bold">1</span> Ngày <span class="red bold">23:05:22</span></div>
						<div class="store_info_title white">THONG TIN GIAN HANG</div>
						<div class="store_info">
							<div class="home">
								Thôn Kê Gà, Xã Tân Thành, 
								Huyện Hàm Thuận nam, 
								Tỉnh Bình Thuận
							</div>
							<div class="phone">09090460960</div>
							<div class="email">09090460960</div>
							<div class="website">09090460960</div>
							<div class="map">Sơ đồ đường đi</div>
						</div>
					</div>
					<div class="col2 product_image">
						<img src="images/detail/images/product_detail.jpg"></img>
					</div>
					
					<div class="socials">
						<span class="red">32423</span> views
						<div class="bookmark">
							<span class="like">200</span>
							<span class="unlike">30</span>
							<span class="email"></span>
							<span class="warn"></span>
						</div>
					</div>
					
					<div class="col1 left_title white">ĐIỀU KIỆN ÁP DỤNG</div>
					<div class="col2 right_title white">Điểm nhấn</div>
					<div class="col1 guide">
						<div class="guideleft">
							The Ultimate CSS Gradient Editor was created by Alex Sirota (iosart). If you like this tool, check out ColorZilla for more advanced tools such as eyedroppers, color pickers, palette editors and website analyzers.
As you might know, HTML5 introduced many exciting features for Web developers. One of the features is the ability to specify gradients using pure CSS3, without having to create any images and use them as repeating backgrounds for gradient effects.
Important: You'll need a recent version of Firefox, Chrome, Safari, Opera or IE to use this Gradient Generator. The resulting CSS gradients are cross-browser - they will work in these browsers and will also fall back to a simpler gradient in older versions of Internet Explorer.
Links to CSS gradients documentation: in Firefox, Safari and Chrome (Webkit) [older], Internet Explorer and Opera [2].
						</div>
						<div class="guideright">
						     <ul>
						     	<li>Khách sạn Hà Nội Horison là một thành viên trong hệ thống
Swiss-Belhotel quốc tế. Nằm ở khu đầu mối và đang mở rộng của Hà Nội.</li>
								<li>Cở sở vật chất:
Khách sạn Horison có 250 phòng nghỉ và phòng suite được thiết kế độc đáo đảm bảo một sự thoải mái nhất cho khách hàng khi nghỉ tại Hà Nội. Tất cả các phòng nghỉ đều được trang bị điện thoại trực tuyến, bar mini, dụng cụ pha trà và café, truyền hình vệ tinh.</li>
								<li>Ngoài 250 phòng nghỉ và phòng căn hộ tiêu chuẩn 5 sao, khách sạn còn có một bể bơi, sân ngoài trời, trung tâm thể chất và sân tennis, trung tâm thương vụ, các phòng hội nghị cùng với rất nhiều quán bar, nhà hàng, một câu lạc bộ và casino.</li>
								<li>Bảng giá tham khảo (nếu có thì cho anchor link đến hình bên dưới or link đến external link)</li>
								<li>Khách sạn Hà Nội Horison là một thành viên trong hệ thống
Swiss-Belhotel quốc tế. Nằm ở khu đầu mối và đang mở rộng của Hà Nội.</li>
								<li>Cở sở vật chất:
Khách sạn Horison có 250 phòng nghỉ và phòng suite được thiết kế độc đáo đảm bảo một sự thoải mái nhất cho khách hàng khi nghỉ tại Hà Nội. Tất cả các phòng nghỉ đều được trang bị điện thoại trực tuyến, bar mini, dụng cụ pha trà và café, truyền hình vệ tinh.</li>
								<li>Ngoài 250 phòng nghỉ và phòng căn hộ tiêu chuẩn 5 sao, khách sạn còn có một bể bơi, sân ngoài trời, trung tâm thể chất và sân tennis, trung tâm thương vụ, các phòng hội nghị cùng với rất nhiều quán bar, nhà hàng, một câu lạc bộ và casino.</li>
								<li>Bảng giá tham khảo (nếu có thì cho anchor link đến hình bên dưới or link đến external link)</li>
						     </ul>

     					</div>

     

     
					</div>
					
					
					
					<div class="col1 left_title  white">HƯỚNG DẪN</div>
					<div class="col1 guide bgnone struction">
						<ul>
							<li><strong>Bạn chưa sở hữu Thẻ Giảm Giá Ưu Đãi VinaSAVE?</strong> <br />
Chỉ với 1 Thẻ vinaSAVE, Bạn sẽ được giảm giá đến 80% cho mỗi hóa đơn thanh toán ở bất kỳ nơi đâu, bất cứ lúc nào Bạn đến để được mua sắm, ăn uống, giải trí tại hàng nghìn địa điểm trên toàn quốc. Vui lòng xem qua hệ thống Danh Bạ Địa Điểm GGƯĐ của chúng tôi hoặc truy cập trang Địa Điểm Giảm Giá Ưu Đãi để lựa chọn điểm đến yêu thích cho Bạn cùng người thân. Tìm hiểu thêm </li> 

							<li><strong>Làm thế nào để mua được Thẻ Giảm Giá Ưu Đãi VinaSAVE?</strong><br />
Bạn chỉ có thể mất 5 phút với 3 bước đơn giản để đăng ký mua Thẻ. Sau khi việc đăng ký mua Thẻ thành công. Bạn vui lòng chọn phương thức thanh thanh toán và nhận thẻ (trực tiếp tại văn phòng vinaSAVE hoặc chuyển qua bưu điện hoặc giao nhận tận nhà) và hoàn tất để sử dụng thẻ. Xem hướng dẫn .</li>
						</ul>
					</div>
					
					
					
					<div class="col1 left_title white">GIỚI THIỆU</div>
					<div class="col1 guide bgnone">
						Khu nghỉ dưỡng Bàu Mai có diện tích xây dựng 1,5ha trên tổng diện tích khuôn viên 7ha nằm trải dài trên bãi biển Hàm Tân, Mũi Điện một trong những bãi biển sạch nhất của mảnh đất du lịch Bình Thuận. 
Địa hình thiên nhiên ưu đãi, Bàu Mai Resort sở hữu một bên là bãi biển Hàm Tân trải dài một bên là khu rừng mai cổ nguyên sinh, những đồi cát trắng đặc trưng, suối nước ngọt được lọc qua các đồi cát chảy thẳng ra biển và hồ nước tự nhiên được bao bọc bởi rừng mai và đồi cát.

<br />
<br />


<img src="images/detail/images/topic_img.jpg" align="left" />


<br />
<br />






Khu nghỉ dưỡng Bàu Mai tiêu chuẩn được quy hoạch xây dựng một cách khoa học hài hoà với thiên nhiên và thiết kế mang hơi hướng phong cách champa với 100 phòng nghỉ tiêu chuẩn, nhà hàng hải sản, phòng họp hội thảo, bar bên hồ, bar Champa Cafeteria, hệ thống phòng massage, dịch vụ giải trí karaoke, sân tennis, phòng tập thể hình, hệ thống sân vườn cùng các lối đi xen giữa các lốc nhà và một con đường dẫn vào rừng mai, qua các đồi cát.
Khu nghỉ dưỡng Bàu Mai đã chính thức đi vào hoạt động ngày 30/04/2007 với đội ngũ nhân viên đầy nhiệt tình và trách nhiệm đến nay đã đón nhận một lượng du khách đáng kể từ các Công ty, Văn phòng và các công ty lữ hành đang hoạt động tại Tp.HCM.
					</div>
					
					
					<div class="col1 left_title white">LƯU Ý</div>
					<div class="col2 right_title white">SƠ ĐỒ ĐƯỜNG ĐI</div>
					<div class="col1 guide map">
						<div class="guideleft"> - Ghi chú bổ sung của gian hàng (nếu có) hoặc xem thêm thông tin về gian hàng này…. </div>
						<img src="images/detail/images/detail_map.jpg" width="374" />
					</div>
					
					
					
					<div class="chat marginleft15">
						<div class="rows">
							<div class="col1 avatar"></div>
							<div class="col1 nick red">Tran Van A</div>
							<div class="col1 bgmsg">
								<div class=""></div>
							</div>
							<div class="col1 message">Apricot Resort (Bàu Mai Resort) rất đẹp, phục vụ tốt.</div>
							
						</div>
						
						
						<div class="rows">
							<div class="col1 avatar"></div>
							<div class="col1 nick red">Tran Van A</div>
							<div class="col1 bgmsg">
								<div class=""></div>
							</div>
							<div class="col1 message">Apricot Resort (Bàu Mai Resort) rất đẹp, phục vụ tốt. Apricot Resort (Bàu Mai Resort) rất đẹp, phục vụ tốt. Apricot Resort (Bàu Mai Resort) rất đẹp, phục vụ tốt.</div>
							
						</div>
						
						
						<div class="rows">
							<div class="col1 avatar"></div>
							<div class="col1 nick red">Tran Van A</div>
							<div class="col1 bgmsg">
								<div class=""></div>
							</div>
							<div class="col1 message">Apricot Resort (Bàu Mai Resort) rất đẹp, phục vụ tốt.</div>
							
						</div>
						
						
						<div class="rows">
							<div class="col1 avatar"></div>
							<div class="col1 nick red">Tran Van A</div>
							<div class="col1 bgmsg">
								<div class=""></div>
							</div>
							<div class="col1 message">Apricot Resort (Bàu Mai Resort) rất đẹp, phục vụ tốt.</div>
							
						</div>
						
						
						<div class="">
							<form>
							<input class="comment" type="text" placeholder="Y kien khac hang"></input>
							<input type="submit" value="submit" class="comment_btn"></input></form>
						</div>
						
						
					</div>
					
					
					
					
				</div>
				
			</div>
			
			
			
			<div class="clearfix"></div>
			<div class="bottom_banners">
				
				<ul id="mycarousel" class="jcarousel-skin-tango">
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    <li><img src="images/partner.jpg" width="100" height="50" alt="" /></li>
				    
				    
				  </ul>
				  
			</div>
			<div class="clearfix"></div>
			<div class="search_tag_title white">Tim nhiu nhat</div>
			<div class="search_tag">May tinh bang gia si, balo xinh, Son Collection, HD Cinema Coff May tinh bang gia si, balo xinh, Son Collection, HD Cinema Coff</div>
			
			
		</div>
		<div id="footer">
			<div class="content white">
				
				<div class="col col1">
					<h3 class="bottom_logo"></h3>
					
					Trụ sở: 100-102 Điện Biên Phủ, P.Đakao, Q.1, TP.HCM<br />
					Điện Thoại: 08.3602 8075 - 08. 3602 8076 - Hotline: 1900 6635 <br />
					Email: info@VinaSAVE.vn / Website: www.VinaSAVE.vn<br />
					VPĐD Hà Nội: Phòng 1005, tầng 10, tòa nhà VP Pacific Place, 83 Lý Thường Kiệt, Q. Hoàn Kiếm, Hà Nội.<br />
					Điện Thoại: 0904795775
					
					<img src="images/map.png" />
				</div>
				<div class="col col2">
					<div class="site_map white bold">So do web site</div>
					<div class="payment white">
						<span>Chap nhan thanh toan qua:</span>
						<span class="baokim"></span>
						<span class="nganluong"></span>
						<span class="onepay"></span> 
					</div>
					<div class="siteinfo">
						VinaSAVE.vn hiện có: <br />
						5000 Địa Điểm Ưu Đãi Giảm Giá<br />
						986 Thành viên sở hữu Thẻ Ưu Đãi Giảm Giá<br />
						11111 Gian Hàng Sản Phẩm<br />
					</div>
					<div class="sitemap_list">					
						<ul class="gt">
							<li ><a href="#">Giới Thiệu</a>
								<ul class="level1 bull">
									<li ><a href="#">Về công ty VinaSAVE</a></li>
									<li ><a href="#">Sản phẩm</a>
										<ul class="level2 none">
											<li><a href="#">Thẻ Giảm Giá Ưu Đãi</a></li>
											<li><a href="#">Hot Deal</a></li>
											<li><a href="#">Gian Hàng Sản Phẩm</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li ><a href="#">Tin Tức</a>
								<ul class="level2 none">
									<li><a href="#">Thông báo từ VinaSAVE</a></li>
									<li><a href="#">Tin Tức - Sự Kiện</a></li>
									<li><a href="#">Tuyển Dụng</a></li>
								</ul>
							</li>
						</ul>
					</div>					
					<div class="sitemap_list">
						<ul>
							<li  ><a href="#" class="bold">Địa Điểm Giảm Giá Ưu Đãi</a>
								<ul class="level1 bull">
									<li ><a href="#">Ăn Uống</a></li>
									<li ><a href="#">Giải Trí</a></li>
									<li ><a href="#">Du Lịch - Khách Sạn</a></li>
									<li ><a href="#">Dịch Vụ</a></li>
									<li ><a href="#">Spa - Làm Đẹp</a></li>
									<li ><a href="#">Thể Dục - Sức Khỏe</a></li>
									<li ><a href="#">Điện Tử - Tiêu Dùng</a></li>
									<li ><a href="#">Thời Trang - Trang Sức	</a></li>
								</ul>
							</li>
						</ul>
					</div>			
					<div class="sitemap_list">
						<div>Sở Hữu Thẻ Giảm Giá Ưu Đãi</div>
						<ul class="gt">
							<li ><a href="#">Đăng Ký Mua Thẻ</a></li>
							<li ><a href="#">Kích Hoạt Thẻ</a></li>
							<li ><a href="#">Quản Lý Tài Khoản Thẻ</a>
								<ul class="bull level2">
									<li><a href="#">Thông Tin Tài Khoản Thẻ</a></li>
									<li><a href="#">Nâng Cấp Thẻ</a></li>
									<li><a href="#">Gia Hạn Thẻ</a></li>
									<li><a href="#">Lịch Sử </a></li>
									<li><a href="#">Thời Trang - Trang Sức</a></li>
								</ul>
							</li>
							<li ><a href="#">Doanh Nghiệp Quảng Cáo</a>
								<ul class="bull level2">
									<li><a href="#">Đăng Địa Điểm Giảm Giá Ưu Đãi </a></li>
									<li><a href="#">Đăng Sản Phẩm Hot Deal </a></li>
									<li><a href="#">Đăng Gian Hàng Sản Phẩm</a></li>
									<li><a href="#">Đăng Quảng Cáo trên vinaSAVE (thu phí)</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="col col3">
					<a href="#" class="facebook"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="outkut"></a>
					<a href="#" class="blog"></a>
					<a href="#" class="youtube"></a>
					<a href="#" class="in"></a>
					<a href="#" class="google"></a>
				</div>
				<a class="go_top" href="#"></a>
			</div>
		</div>
	
	</div>
	
</div>

<script type='text/javascript' src='js/jquery.1.7.2.js'></script>
<script type='text/javascript' src='js/slider.js'></script>
<script src="js/jquery.jcarousel.min.js"></script>
<script src="js/sliderinit.js"></script>
<script src="js/common.js"></script>


</body>
</html>
