<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>Index page</title>
</head>

<body>
	<div id="header"><img src="images/logo_index.gif" width="1020" height="104" /></div>
    <div id="boxMenu">
    	<ul id="topMenu">
            <li class="Active"><a href="#" title="Trang chủ">Trang chủ</a></li>
            <li><a href="#" title="Thần tượng">Thần tượng</a></li>
            <li><a href="#" title="Soi sao">Soi sao</a></li>
            <li><a href="#" title="Âm nhạc">Âm nhạc</a></li>
            <li><a href="#" title="Điện ảnh">Điện ảnh</a></li>
            <li><a href="#" title="Phong cách">Phong cách</a></li>
            <li><a href="#" title="Thể thao">Thể thao</a></li>
            <li><a href="#" title="Giải trí">Giải trí</a></li>
            <li class="End"><a href="#" title="Media">Media</a></li>
   		</ul>
    </div>
<div id="container">
    <div id="topBanner"><a href="#" title="title"><img src="images/topbanner.gif" width="1020" height="110" /></a></div>
        <div id="col-1">
        	<ul id="bottomMenu">
                <li class="Active"><a href="#" title="V-Star">V-Star</a></li>
                <li><a href="#" title="Chinese Star">Chinese Star</a></li>
                <li><a href="#" title="Japanses Star">Japanses Star</a></li>
                <li><a href="#" title="World Star">World Star</a></li>    
            </ul>
        	<div id="boxContent">
            	<h3>SISTAR muốn các ca khúc giống của SNSD</h3>
                <p class="Date">01/09/2011 11:22:58</p>
        	  <p><strong>(Thantuong.vn) - Vogue #FNO tonight in NY &amp; a book signing of 'The Covers' with Hamish Bowles &amp; Dodie Kazanjian - 9 East 57th Street</strong></p>
        	  <p><a href="#">&gt;&gt; Kieu nu Han voi hanbook</a><br />
   	          <a href="#">&gt;&gt; SNSD xinh xan voi hanbook</a></p>
        	 
        	  <p>&quot;7 sắc cầu vồng&quot; của Rainbow. &quot;Tết trung thu đang đến gần. Hy vọng các bạn sẽ có một kỳ lễ hội vui vẻ và hạnh phúc&quot; là những lời chúc mà KARA và Rainbow dành cho các fan.</p>
        	  
        	  <p>&quot;7 sắc cầu vồng&quot; của Rainbow. &quot;Tết trung thu đang đến gần. Hy vọng các bạn sẽ có một kỳ lễ hội vui vẻ và hạnh phúc&quot; là những lời chúc mà KARA và Rainbow dành cho các fan.</p>
              <div id="boxSN">
              	<a href="" title="Facebook"><img src="images/fb-button.gif" /></a>
                <a href="" title="Twitter"><img src="images/t-button.gif" /></a>
                <a href="" title="Zing me"><img src="images/zing-button.gif" /></a>
              </div>
        	</div>
        </div>
        <div id="col-2">
   		  <h2 class="Inside">Quảng cáo</h2>
            <p><img src="images/adv1.jpg" width="321" /></p>
            <p><img src="images/adv2.jpg" width="321" /></p>
            <p><img src="images/adv3.jpg" width="321" /></p>
            <p><img src="images/adv4.gif" width="321" /></p>
            <p><img src="images/adv4.gif" width="321" /></p>
        </div>
</div>

<div id="boxAdvBottom"><a href="#" title="adv"><img src="images/advbottom.gif" width="1020" height="109" /></a></div>
<div id="boxFooter">
	<div id="footer">
    	<div class="Left">
        	<p class="Top">© Thantuong.vn- Tạp chí Online của CÔNG TY GIẢI TRÍ – TRUYỀN THÔNG THẦN TƯỢNG</p>
			<p>
            <strong>GIÁM ĐỐC SÁNG TẠO: NGUYỄN QUÝ KHANG</strong></br>
            <strong>PHỤ TRÁCH NỘI DUNG: MAI TRUNG HẬU</strong></br>
            <strong>THIẾT KẾ MỸ THUẬT: CÔNG TY TNHH MAKI - MAKI STUDIO - <a href="http://www.maki.vn" title="WWW.MAKI.VN">WWW.MAKI.VN</a></strong>
            (PHỤ TRÁCH ĐỒ HỌA: LÊ HUỲNH THÀNH DANH - PHỤ TRÁCH WEBSITE: THÁI HÀ MỸ ÁI - PHỤ TRÁCH HÌNH ẢNH: MARC TRAN)
            </p>
            <p class="Bottom">Mọi ý kiến đóng góp, thắc mắc, phản hồi vui lòng gửi về E-mail: <a href="mailto:bandoc@thantuong.vn">bandoc@thantuong.vn</a></p>
        </div>
        <div class="Right"><a href="#" title="adv"><img src="images/adv_footer.gif" width="250" height="120" /></a></div>
    </div>
</div>
</body>
</html>
