<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<title>Index page</title>
</head>

<body>
	<div id="header"><img src="images/logo_index.gif" width="1020" height="104" /></div>
    <div id="boxMenu">
    	<ul id="topMenu">
            <li class="Active"><a href="#" title="Trang chủ">Trang chủ</a></li>
            <li><a href="#" title="Thần tượng">Thần tượng</a></li>
            <li><a href="#" title="Soi sao">Soi sao</a></li>
            <li><a href="#" title="Âm nhạc">Âm nhạc</a></li>
            <li><a href="#" title="Điện ảnh">Điện ảnh</a></li>
            <li><a href="#" title="Phong cách">Phong cách</a></li>
            <li><a href="#" title="Thể thao">Thể thao</a></li>
            <li><a href="#" title="Giải trí">Giải trí</a></li>
            <li class="End"><a href="#" title="Media">Media</a></li>
   		</ul>
    </div>
<div id="container">
    <div id="topBanner"><a href="#" title="title"><img src="images/topbanner.gif" width="1020" height="110" /></a></div>
        <div id="col-1">
        	<div class="Line">
           		<div class="Left">
                    <h2><img src="images/tieudiem_img.gif" width="229" height="52" /></h2>
                    <a href="#" title="title"><img src="images/tieudiem1_img.jpg" width="229" height="273" /></a>
                    <p class="Title">FNO Highlight of the Day: Go West to </p>
                    <ul id="tieudiemList">
                        <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                        <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                        <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                        <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                        <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                        <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                    </ul>
            	</div>
            	<div class="Right">
                <h2><img src="images/tinnong_img.gif" width="451" height="52" /></h2>
                <a href="#" title="title"> <img src="images/tinnong1_img.jpg" width="451" height="314" /></a>
                <p class="TinnongTitle"><a href="#" title="FNO Highlight of the Day: Go West to">FNO Highlight of the Day: Go West to</a></p>
            <p class="Description">Anyone who was chomping at the bit to go shopping the minute that last fall look went down the runway at the RTW shows in February now has another problem: When can you wear all your new clothes without looking like you’re jumping the gun? The answer, if you’re smart about your styling: Sooner than you think.</p>
              <ul id="tinnongList">
                  <li><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall"><img src="images/tinnong2_img.jpg" width="108" /></a><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall" class="Home">Anyone who was chomping at the bit to go shopping the minute that last fall</a></li>
                  <li><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall"><img src="images/tinnong2b_img.jpg" width="108" /></a><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall" class="Home">Anyone who was chomping at the bit to go shopping the minute that last fall</a></li>
                  <li><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall"><img src="images/tinnong3_img.jpg" width="108" /></a><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall" class="Home">Anyone who was chomping at the bit to go shopping the minute that last fall</a></li>
                  <li class="End"><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall"><img src="images/tinnong4_img.jpg" width="108" /></a><a href="#" title="Anyone who was chomping at the bit to go shopping the minute that last fall" class="Home">Anyone who was chomping at the bit to go shopping the minute that last fall</a></li>
              </ul>
            </div>
            </div>
            <div class="Line">
            	<div id="boxNews">
                	<h2><a href="#" title="Soi sao"><img src="images/soisao_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
                <div id="boxNewsRight">
                	<h2><a href="#" title="Âm nhạc"><img src="images/amnhac_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
            </div>
            <div class="Line">
            	<div id="boxNews">
                	<h2><a href="#" title="Điện ảnh"><img src="images/dienanh_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
                <div id="boxNewsRight">
                	<h2><a href="#" title="Phong cách"><img src="images/phongcach_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
            </div>
            <div class="Line">
            	<div id="boxNews">
                	<h2><a href="#" title="Thể thao"><img src="images/thethao_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
                <div id="boxNewsRight">
                	<h2><a href="#" title="Giải trí"><img src="images/giaitri_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
            </div>
            <div class="">
            	<div id="boxNews">
                	<h2><a href="#" title="Sao tre"><img src="images/saotre_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
                <div id="boxNewsRight">
                	<h2><a href="#" title="Media"><img src="images/media_img.gif" width="337" height="35" /></a></h2>
                    <div class="Content">
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?"><img src="images/boxnews_img.jpg" width="140" height="88" /></a>
                    	<a href="#" title="Vì sao Kpop fan đổ như chuối trước hiện tượng Leesang ?" class="Hot">Vì sao Kpop fan "đổ như chuối" trước hiện tượng Leesang ?</a>
                    	<p class="IntroText">Ngay sau khi chứng kiến thần tượng của mình tươi cười vẫy chào ngoài ban công, các fans của Justin Bieber đã trở nên mất kiểm soát và nháo nhào phá hàng rào bảo vệ</p>
                        <ul id="boxNewsList">
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                            <li><a href="#" title="White Night: Dîner en Blanc’s U.S.Debut">White Night: Dîner en Blanc’s U.S.Debut</a></li>
                            <li><a href="#" title="Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur">Singer St. Vincent Launches Her New Album with a Concert in the Temple of Dendur</a></li>
                            <li><a href="#" title="Pleading Innocent: Our Idiot Brother and Brighton Rock">Pleading Innocent: Our Idiot Brother and Brighton Rock</a></li>
                		</ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="col-2">
   		  <h2>Quảng cáo</h2>
            <p><img src="images/adv1.jpg" width="321" /></p>
            <p><img src="images/adv2.jpg" width="321" /></p>
            <p><img src="images/adv3.jpg" width="321" /></p>
            <p><img src="images/adv4.gif" width="321" /></p>
        </div>
</div>

<div id="boxAdvBottom"> <a href="#" title="adv"><img src="images/advbottom.gif" width="1020" height="109" /></a>
</div>
<div id="boxFooter">
	<div id="footer">
    	<div class="Left">
        	<p class="Top">© Thantuong.vn- Tạp chí Online của CÔNG TY GIẢI TRÍ – TRUYỀN THÔNG THẦN TƯỢNG</p>
			<p>
            <strong>GIÁM ĐỐC SÁNG TẠO: NGUYỄN QUÝ KHANG</strong></br>
            <strong>PHỤ TRÁCH NỘI DUNG: MAI TRUNG HẬU</strong></br>
            <strong>THIẾT KẾ MỸ THUẬT: CÔNG TY TNHH MAKI - MAKI STUDIO - <a href="http://www.maki.vn" title="WWW.MAKI.VN">WWW.MAKI.VN</a></strong>
            (PHỤ TRÁCH ĐỒ HỌA: LÊ HUỲNH THÀNH DANH - PHỤ TRÁCH WEBSITE: THÁI HÀ MỸ ÁI - PHỤ TRÁCH HÌNH ẢNH: MARC TRAN)
            </p>
            <p class="Bottom">Mọi ý kiến đóng góp, thắc mắc, phản hồi vui lòng gửi về E-mail: <a href="mailto:bandoc@thantuong.vn">bandoc@thantuong.vn</a></p>
        </div>
        <div class="Right"><a href="#" title="adv"><img src="images/adv_footer.gif" width="250" height="120" /></a></div>
    </div>
</div>
</body>
</html>
