<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">
/* for understanding browsers */
.container {
width:20em;
padding:0.5em;
border:1px solid #000;
min-height:8em; 
height:auto;
visibility: collapse;
float:left;
}
/* for Internet Explorer */
/*\*/
* html .container {
height: 8em;
}
/**/
#right { width: 336px; float: left; margin-left:10px; border: 1px solid #ccc;}
#right2,#right3 { width: 336px; float: left; margin-top: 10px; margin-left:10px; display: block; }
</style>
<base href="http://phpbasic.com/images/" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>- PHPBASIC - php tutorial,phpmyadmin,php date,phproxy,php array,php scripts,php redirect,php mysql,php mail,phpbb</title>
</head>

<body>
<div class="container"><img src="../images/ads.jpg" alt="Beauty Girls in Google" width="472" height="334" />
  <div><script type="text/javascript"><!--
google_ad_client = "pub-1823237824396673";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text_image";
google_page_url="http://mocxi.com";
//2007-05-12: phpbasic
google_ad_channel = "6495508738";
google_color_border = ["FFFFFF","336699","000000","6699CC"];
google_color_bg = ["FFFFFF","FFFFFF","F0F0F0","003366"];
google_color_link = ["0000FF","0000FF","0000FF","FFFFFF"];
google_color_text = ["000000","000000","000000","AECCEB"];
google_color_url = ["008000","008000","008000","AECCEB"];
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div></div>
<div id="right"><script type="text/javascript"><!--
google_ad_client = "pub-1823237824396673";
google_ad_width = 336;
google_ad_height = 280;
google_ad_format = "336x280_as";
google_ad_type = "text_image";
google_page_url="http://php.com";
//2007-05-12: phpbasic
google_ad_channel = "6495508738";
google_color_border = ["FFFFFF","336699","000000","6699CC"];
google_color_bg = ["FFFFFF","FFFFFF","F0F0F0","003366"];
google_color_link = ["0000FF","0000FF","0000FF","FFFFFF"];
google_color_text = ["000000","000000","000000","AECCEB"];
google_color_url = ["008000","008000","008000","AECCEB"];
//-->
</script>
<script type="text/javascript"  src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
<div id="right2"><script type="text/javascript">
<!--
google_ad_client = "pub-1823237824396673";
google_ad_width = 180;
google_ad_height = 60;
google_ad_format = "180x60_as_rimg";
google_cpa_choice = "CAAQ56j8zwEaCJ--CQwz7RlRKMu293MwAA";
google_ad_channel = "";
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<div id="right3"><a href="http://w3tableless.com/?uri=">100% TABLELESS</a></div>
</body>
</html>
